asgiref==3.11.1
certifi==2026.4.22
charset-normalizer==3.4.7
Django==5.2.13
idna==3.15
psycopg2-binary==2.9.12
razorpay==2.0.1
requests==2.34.2
sqlparse==0.5.5
typing_extensions==4.15.0
urllib3==2.7.0
